/* src/features/activity/components/Activity.css */
.Activity {
  min-width: 400px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  height: 600px;
  overflow: auto;
}
.Activity > section {
  width: 100;
  border-bottom: 1px solid gray;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}
.Activity p {
}
.Activity p {
  margin: 0;
  padding: 0;
}

/* src/features/emoji/components/EmojiDrawer.css */
.EmojiDrawer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -400px;
  width: 50%;
  min-width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: auto;
}
@keyframes sliding-in {
  to {
    left: 0;
  }
}
.sliding-in {
  animation: sliding-in 0.3s ease-in-out forwards;
}

/* src/features/chat/components/Username.css */
.Username {
  display: flex;
  align-items: center;
}
.Username > a {
  font-weight: bold;
  margin-left: 8px;
}

/* src/features/chat/components/ChatMessage.css */
.ChatMessage {
  padding: 1rem;
  position: relative;
}
.ChatMessage:not(.EmojiDrawer):nth-of-type(even) {
  background: rgba(255, 255, 255, 0.02);
}
.ChatMessage-top {
  display: flex;
  align-items: center;
}
.ChatMessage-timestamp {
  margin-left: 0.5rem;
}
.ChatMessage-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
}
.ChatMessage-content {
  margin-right: 0.5rem;
}
.ChatMessage-button {
  background: transparent !important;
}
.ChatMessage-delete {
  position: absolute;
  top: 4px;
  right: 4px;
}

/* src/features/chat/components/UserInput.css */
.UserInput {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
}
.UserInput > div {
  flex: 3;
  font-size: 16px;
  margin: 0 0.5rem;
}

/* src/features/chat/components/UserList.css */
.UserList ul {
  padding-left: 16px;
}
.UserList li {
  font-size: 1.25rem;
}

/* src/features/chat/components/Chat.css */
.Chat {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: max(76%, 1500px);
  padding-right: 15px;
  padding-left: 15px;
}
.Chat-messagelist {
  width: 640px;
  height: 640px;
}
.Chat-online {
  margin-bottom: 1rem;
}
.Chat-online i {
  margin-right: 4px;
}
.Chat-left {
  flex: 1;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.Chat-typing {
  display: flex;
  align-items: center;
  min-height: 18px;
}

/* src/Layout.css */
.Layout {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  padding: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
