.Chat {
  display: flex;
  align-items: flex-start;
}

.Chat-online {
  margin-bottom: 1rem;
}

.Chat-online i {
  margin-right: 4px;
}

.Chat-left {
  flex: 1;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
}

.Chat-typing {
  display: flex;
  align-items: center;
  min-height: 18px;
}

.Chat-messagewrapper {
  height: 640px;
  overflow: auto;
}