.Chat {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: max(76%, 1500px);
  padding-right: 15px;
  padding-left: 15px;
}

.Chat-messagelist {
  width: 640px;
  height: 640px;
}

.Chat-online {
  margin-bottom: 1rem;
}

.Chat-online i {
  margin-right: 4px;
}

.Chat-left {
  flex: 1;
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.Chat-typing {
  display: flex;
  align-items: center;
  min-height: 18px;
}