{% extends "settings2.html" %}

{% block content %}

{% if u %}
    <h5 class="mt-3">Alts for <a href="/@{{u.username}}">@{{u.username}}</a></h5>
{% else %}
    <h5 class="mt-3">Alts</h5>
{% endif %}

<form action="/admin/alts" method="get" class="mb-6">
	<label for="link-input">Username</label>
	<input autocomplete="off" id="link-input" type="text" class="form-control mb-2" name="username" value="{{u.username if u else ''}}" placeholder="Username">
	<input type="submit" onclick="disable(this)" value="Submit" class="btn btn-primary">
</form>

{% if u %}
<div class="overflow-x-auto">
    <table class="table table-striped mb-5">
    <thead class="bg-primary text-white">
	    <tr>
		    <th>#</th>
		    <th>Name</th>
            <th>Account Created</th>
            <th>Alt Link Created</th>
            <th>Manual</th>
            <th>Delinked</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for user in alts %}
	    <tr>
		    <td>{{loop.index}}</td>
		    <td>{% include "user_in_table.html" %}</td>
            <td>{{user.created_utc|timestamp}}</td>
            <td>{{user._alt_created_utc|timestamp}}</td>
            <td>{{user._is_manual}}</td>
            <td>{{user._alt_deleted}}</td>
            <td>
                <form method="post">
                    {% set method = 'DELETE' if user._alt_deleted else 'PUT' %}
                    {% set txt = 'Relink' if user._alt_deleted else 'Delink' %}
                    <button type="button" id="remove-alt-{{u.id}}-{{user.id}}" class="btn btn-danger" onclick="postToastReload(this,'/@{{u.username}}/alts/{{user.id}}/deleted', '{{method}}')">{{txt}}</button>
                </form>
            </td>
	    </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
