{% extends "settings2.html" %}

{% block content %}

{% if u %}
    <h5 class="mt-3">Alts</h5>
{% else %}
    <h5 class="mt-3">Alts for <a href="/@{{u.username}}">@{{u.username}}</a></h5>
{% endif %}

<form action="/admin/alts" method="get" class="mb-6">
	<label for="link-input">Username</label>
	<input autocomplete="off" id="link-input" type="text" class="form-control mb-2" name="username" value="{{u.username if u else ''}}" placeholder="Username">
	<input type="submit" onclick="disable(this)" value="Submit" class="btn btn-primary">
</form>

{% if u %}
<div class="overflow-x-auto">
    <table class="table table-striped mb-5">
    <thead class="bg-primary text-white">
	    <tr>
		    <th>#</th>
		    <th>Name</th>
            <th>Created</th>
            <th>Manual</th>
            <th>Delinked</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for alt in alts %}
	    <tr>
		    <td>{{loop.index}}</td>
		    <td>{% include "user_in_table.html" %}</td>
            <td>{{alt.created_utc|timestamp}}</td>
            <td>{{alt._is_manual}}</td>
            <td>{{alt._alt_deleted}}</td>
            <td>
                <form method="post">
                    {% if not alt._alt_deleted %}
                        <button type="button" id="remove-alt-{{u.id}}-{{alt.id}}" class="btn btn-danger" onclick="postToastReload(this,'/@{{u.username}}/alts/{{alt.id}}/deleted', 'PUT')">Delink</button>
                    {% else %}
                        <span class="text-muted">Alt already delinked</span>
                    {% endif %}
                </form>
            </td>
	    </tr>
    {% endfor %}
    </table>
{% endif %}
{% endblock %}
