@keyframes ball-pulled {
  from {
    width: 64px;
    height: 64px;
    top: 0;
  }
  50% {
    width: 128px;
    height: 128px;
    top: 64px;
  }
  to {
    width: 64px;
    height: 64px;
    top: 0;
  }
}

.Slots-leverBall {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--primary);
  border: 2px solid black;
  cursor: pointer;
  z-index: 100;
}

.Slots-leverBall__pulled {
  animation: ball-pulled 1s ease-in-out;
}

@keyframes pulled {
  from {
    width: 24px;
    height: 100px;
    top: 30px;
  }
  50% {
    width: 64px;
    height: 20px;
    top: 110px;
  }
  to {
    width: 24px;
    height: 100px;
    top: 30px;
  }
}

.Slots-lever {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 24px;
  height: 100px;
  background: grey;
  border: 2px solid black;
}

.Slots-lever__pulled {
  animation: pulled 1s ease-in-out;
}
